@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.header {
    width: 1510px;
    height: 75px;
    background-color: #000000;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
}

.header__logo {
    padding-left: 115px;
}

.header__menu {
    width: 50%;
    line-height: 75px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
}

.header__menu-list {
    width: 15%;
    display: inline-block;
    text-align: center;
}

.header__menu-list:hover {
    background: #EC7979;
}

.header__menu-list:active {
    background: #AB4949;
}

.banner {
    width: 1510px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images\ banner/image.jpg);
    font-family: 'Raleway';
    margin: 0 auto;
}

.banner__container {
    position: relative;
    width: 1170px;
    margin: 0 auto;
}

.banner__logo-image {
    padding-top: 231px;
    padding-bottom: 72px;
}

.banner__title {
    width: 670px;
    font-weight: 500;
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 55px;
    line-height: 56px;
}

.banner__line {
    width: 170px;
    border-top: 2px solid #FFFFFF;
    margin-bottom: 42px;
}

.banner__subtitle {
    font-size: 18px;
    font-weight: 400px;
    color: #FFFFFF;
    width: 270px;
    margin-bottom: 42px;
}

.banner__button {
    width: 270px;
    height: 58px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    margin-bottom: 185px;
}

.banner__button:hover, .design__button:hover {
    border-color: #EC7979;
    color: #EC7979;
}

.banner__button:active, .design__button:active {
    background: #AB4949;
    color: #FFFFFF;
}

.banner__form {
    position: absolute;
    top: 208px;
    right: 0;
    width: 470px;
    height: 450px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Open Sans';
}

.banner__title-wrapper {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.banner__form-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #333333;
}

.banner__color {
    color: #EC7979;
}

.banner__form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__form-field {
    width: 370px;
    height: 38px;
    margin-bottom: 33px;
    border: none;
    outline: none;
    border-bottom: 1px solid #BDBDBD;
}

.banner__form-field::placeholder {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
}

.banner__form-button {
    width: 100%;
    height: 60px;
    margin-top: 42px;
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #EC7979;
    border: none;
    border-radius: 0 0 10px 10px;
}

.banner__form-button:hover {
    background: #AB4949;
}

.banner__form-button:active {
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.social {
    position: relative;
    width: 1510px;
    margin: 0 auto;
    background-color: #F8EFEF;
}

.social__title {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 700;
    padding: 18px 0 36px 170px;
}

.social__subtitle {
    width: 470px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    color: #86878B;
    padding-left: 170px;
    padding-bottom: 18px;
}

.social__icon-container {
    position: absolute;
    top: 39px;
    right: 183px;
    width: 637px;
    display: flex;
    justify-content: space-between;
}

.social__icon, .footer__icon {
    color: #CCCCCC;
}

.tabs {
    width: 1170px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.tabs__tabs-container {
    display: flex;
    align-items: center;
    padding-top: 99px; 
    margin-bottom: -1px;
}

.tabs__tab-title {
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    width: 184px;
    line-height: 40px;
    text-align: center;
    border: none;
    background-color: #FFFFFF;
}

.tabs__tab-title:first-child {
    border: 1px solid #C6CBCD;
    border-bottom: 1px solid white;
    border-radius: 5px 5px 0 0;
}

.tabs__container {
    border: 1px solid #C6CBCD;
    background: url(images\ tabs/image1.jpg) no-repeat right;
}

.tabs__title-wrapper {
    width: 570px;
    margin-top: 47px; 
    margin-bottom: 74px;
    display: flex;
    align-items: center;
    margin-left: 100px;
    font-weight: bold;
    font-size: 30px;
}

.tabs__text {
    width: 570px;
    font-family: 'Raleway';
    font-size: 18px;
    margin-left: 100px;
    margin-bottom: 27px;
    line-height: 21px;
}

.tabs__text p:nth-child(3) { /*у этого р нет класса*/
    margin-bottom: 20px;
}

.tabs__button, .contacts__button {
    width: 270px;
    height: 58px;
    margin-left: 100px;
    margin-bottom: 54px;
    background-color: #EC7979;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    border: 0;
    color: white;
}

.tabs__button:hover, .contacts__button:hover {
    background: #AB4949;
}

.tabs__button:active, .contacts__button:active {
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.awesome {
    font-family: 'Raleway', sans-serif;
    width: 1170px;
    margin: 0 auto;
}

.awesome__title, .price__title, .customers__title, .design__title, .contacts__title {
    font-size: 36px;
    font-weight: 400;
}

.awesome__title-wrapper, .price__title-wrapper, .customers__title-wrapper, .design__title-wrapper, .contacts__title-wrapper {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.awesome__line, .price__line, .customers__line, .design__line, .contacts__line {
    width: 170px;
    border-top: 2px solid #EC7979;
    margin: auto;
    margin-bottom: 40px;
}

.awesome__subtitle {
    color: #86878B;
    font-size: 18px;
    text-align: center;
    margin-bottom: 110px;
}

.awesome__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
}

.awesome__block {
    width: 370px;
    text-align: center;
}

.awesome__icon-wrapper {
    width: 92px;
    height: 92px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 78px;
}

.awesome__block-title {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 47px;
}

.price {
    width: 1508px;
    margin: 0 auto;
    background-color: #F5F5F5;
    font-family: 'Raleway', sans-serif;
}

.price__subtitle {
    color: #86878B;
    font-size: 18px;
    text-align: center;
    margin-bottom: 79px;
}

.price__container {
    display: flex;
    justify-content: space-between;
    margin: 0 170px 0 168px;
    padding-bottom: 50px;
}

.price__block, .customers__block {
    width: 370px;
}

.price__block:hover {
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
    margin-top: -20px;
}

.price__price-title {
    height: 60px;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F5F5F5;
}

.price__prices {
    height: 100px;
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F5F5F5;
    margin-top: -1px;
}

.price__price-subtitle, .price__list {
    height: 50px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F5F5F5;
    margin-top: -1px;
}

.price__price-subtitle {
    color: rgba(255, 255, 255, 0.5);
    background-color: #333333;
}
    
.price__list {
    color: #86878B;
    background-color: #FFFFFF;
}

.customers {
    width: 1171px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

.customers__subtitle {
    color: #86878B;
    font-size: 18px;
    text-align: center;
    margin-bottom: 83px;
}

.customers__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 84px;
}

.customers__review {
    font-size: 18px;
    background-color: #E2E2E2;
    color: #86878B;
    border-radius: 10px;
    line-height: 21px;
    text-align: center;
    padding: 38px;
}

.customers__triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
    margin-left: 70px;
    margin-bottom: 66px;
}

.customers__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customers__name {
    width: 269px;
    font-family: "Open sans";
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
}

.customers__position {
    font-size: 18px;
    margin-left: 101px;
}

.design {
    width: 1510px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images\ banner/back.jpg);
    font-family: 'Raleway';
}

.design__title {
    color: #FFFFFF;
}

.design__line {
    border-color: #FFFFFF;
}

.design__subtitle {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 73px;
}

.design__button {
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    width: 370px;
    height: 58px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    margin-bottom: 50px;
    margin-left: 570px;
}

.contacts {
    width: 1170px;
    margin: 0 auto;
    font-family: 'Raleway';
}

.contacts__subtitle {
    color: #86878B;
    font-size: 18px;
    text-align: center;
    margin-bottom: 89px;
}

.contacts__form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.contacts__form-container {
    width: 570px;
    height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts__form-field {
    width: 100%;
    height: 46px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
}

.height {
    padding-top: 16px;
    height: 100%;
}

.contacts__form-field::placeholder {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    color: #BDBDBD;
    margin-bottom: 16px;
}

.contacts__button {
    width: 370px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.footer {
    width: 1510px;
    margin: 0 auto;
    background-color: #000000;
}

.footer__icon-container {
    width: 544px;
    display: flex;
    justify-content: space-between;
    padding: 42px 0 32px 485px;
}

.footer__text {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-bottom: 27px;
}