@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.tabs {
    width: 1170px;
    margin: 0 auto;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
}

.tabs__tabs-container {
    display: flex;
    align-items: center;
    margin-bottom: -1px;
}

.tabs__tab-title {
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    width: 184px;
    line-height: 40px;
    text-align: center;
}

.tabs__tab-title:first-child {
    border: 1px solid #C6CBCD;
    border-bottom: 1px solid white;
    border-radius: 5px 5px 0 0;
}

.tabs__container {
    border: 1px solid #C6CBCD;
    background: url(images\ tabs/image1.jpg) no-repeat right;
}

.tabs__title-wrapper {
    width: 570px;
    margin-top: 47px; 
    margin-bottom: 74px;
    display: flex;
    align-items: center;
    margin-left: 100px;
    font-weight: bold;
    font-size: 30px;
}

.tabs__text {
    width: 570px;
    font-family: 'Raleway';
    font-size: 18px;
    margin-left: 100px;
    margin-bottom: 27px;
    line-height: 21px;
}

.tabs__text p:first-child { /*у этого р нет класса*/
    margin-bottom: 20px;
}

.tabs__button {
    width: 270px;
    height: 58px;
    margin-left: 100px;
    margin-bottom: 54px;
    background-color: #EC7979;
    font-family: 'Open Sans';
    font-size: 18px;
    border: 0;
    color: white;
}

.awesome {
    font-family: 'Raleway', sans-serif;
    width: 1170px;
    margin: 0 auto;
}

.awesome__title, .price__title, .customers__title {
    font-size: 36px;
    font-weight: 400;
}

.awesome__title-wrapper, .price__title-wrapper, .customers__title-wrapper {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.awesome__line, .price__line, .customers__line {
    width: 170px;
    border: 1px solid #EC7979;
    margin: auto;
    margin-bottom: 40px;
}

.awesome__subtitle {
    color:#86878B;
    font-size: 18px;
    text-align: center;
    margin-bottom: 110px;
}

.awesome__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
}

.awesome__block {
    width: 370px;
    text-align: center;
}

.awesome__icon-wrapper {
    width: 92px;
    height: 92px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 78px;
}

.awesome__block-title {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 47px;
}

.price {
    width: 1508px;
    margin: 0 auto;
    background-color: #F5F5F5;
    font-family: 'Raleway', sans-serif;
}

.price__subtitle {
    color:#86878B;
    font-size: 18px;
    text-align: center;
    margin-bottom: 79px;
}

.price__container {
    display: flex;
    justify-content: space-between;
    margin: 0 170px 0 168px;
    padding-bottom: 50px;
}

.price__block, .customers__block {
    width: 370px;
}

.price__block:hover {
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
    margin-top: -20px;
}

.price__price-title {
    height: 60px;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F5F5F5;
}

.price__prices {
    height: 100px;
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F5F5F5;
    margin-top: -1px;
}

.price__price-subtitle {
    height: 50px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F5F5F5;
    margin-top: -1px;
}

.price__list {
    height: 50px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    color: #86878B;;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F5F5F5;
    margin-top: -1px;
}

.customers {
    width: 1171px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

.customers__subtitle {
    color:#86878B;
    font-size: 18px;
    text-align: center;
    margin-bottom: 83px;
}

.customers__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 84px;
}

.customers__review {
    height: 180px;
    font-size: 18px;
    text-align: center;
    background-color: #E2E2E2;
    color: #86878B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 21px;
}

.customers__triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
    margin-left: 70px;
    margin-bottom: 66px;
}

.customers__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customers__name {
    width: 269px;
    font-family: "Open sans";
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
}

.customers__position {
    font-size: 18px;
    margin-left: 101px;
}