@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.header {
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    padding-left: 115px;
}

.header__menu {
    width: 50%;
    line-height: 75px;
}

.header__menu-list {
    /* width: 15%; */
    padding: 0 20px;
    display: inline-block;
    text-align: center;
}

.header__menu-list:hover {
    background: #EC7979;
}

.header__menu-list:active {
    background: #AB4949;
}

.header__link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
}

.banner {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images\ banner/image.jpg) no-repeat;
    background-size: 100% 100%;
    font-family: 'Raleway';
    display: flex;
    height: 951px;
}

.banner__container {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: auto;
}

.banner__block {
    width: 55%;
}

.banner__logo-image {
    margin-bottom: 72px;
}

.banner__title {
    width: 670px;
    font-weight: 500;
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 55px;
    line-height: 56px;
}

.banner__line {
    width: 170px;
    border-top: 2px solid #FFFFFF;
    margin-bottom: 42px;
}

.banner__subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    width: 270px;
    margin-bottom: 42px;
}

.banner__button {
    width: 270px;
    height: 58px;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background-color: transparent;
}

.banner__button:hover, .design__button:hover {
    border-color: #EC7979;
    color: #EC7979;
}

.banner__button:active, .design__button:active {
    background: #AB4949;
    color: #FFFFFF;
}

.banner__form {
    width: 470px;
    height: 450px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Open Sans';
}

.banner__title-wrapper {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.banner__form-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #333333;
}

.banner__color {
    color: #EC7979;
}

.banner__form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__form-field {
    width: 80%;
    height: 46px;
    margin-bottom: 33px;
    border: none;
    outline: none;
    border-bottom: 1px solid #BDBDBD;
}

.banner__form-field:last-child {
    margin-bottom: 75px;
}

.banner__form-field::placeholder {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
}

.banner__form-button {
    width: 100%;
    height: 60px;
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #EC7979;
    border: none;
    border-radius: 0 0 10px 10px;
}

.banner__form-button:hover {
    background: #AB4949;
}

.banner__form-button:active {
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.social {
    width: 100%;
    background-color: #F8EFEF;
}

.social__container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__title {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 700;
    margin: 18px 0 36px 0;
}

.social__subtitle {
    width: 470px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    color: #86878B;
    margin-bottom: 18px;
}

.social__icon-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#social__icon, #footer__icon {
    color: #CCCCCC; 
}

.tabs {
    width: 1170px;
    margin: 100px auto 50px auto;
    font-family: 'Open Sans', sans-serif;
}

.tabs__tabs-container {
    display: flex;
    align-items: center;
    margin-bottom: -1px;
}

.tabs__tab-title {
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    width: 184px;
    line-height: 40px;
    text-align: center;
    border: none;
    background-color: #FFFFFF;
}

.tabs__tab-title:first-child {
    border: 1px solid #C6CBCD;
    border-bottom: 1px solid white;
    border-radius: 5px 5px 0 0;
}

.tabs__container {
    display: flex;
    border: 1px solid #C6CBCD;
}

.tabs__block {
    width: 60%;
    margin-right: 26px;
    padding-left: 100px;
}

.tabs__title {
    margin: 47px 0 74px 0;
    font-weight: bold;
    font-size: 30px;
}

.tabs__text {
    width: 80%;
    font-family: 'Raleway';
    font-size: 18px;
    margin-bottom: 27px;
    line-height: 21px;
}

.tabs__text p:nth-child(3) { /*у этого р нет класса*/
    margin-bottom: 20px;
}

.tabs__button, .contacts__button {
    width: 270px;
    height: 58px;
    background-color: #EC7979;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    border: 0;
    color: white;
}

.tabs__button:hover, .contacts__button:hover {
    background: #AB4949;
}

.tabs__button:active, .contacts__button:active {
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.awesome {
    font-family: 'Raleway', sans-serif;
    width: 1170px;
    margin: 0 auto 60px auto;
}

.awesome__title, .price__title, .customers__title, .design__title, .contacts__title {
    font-size: 36px;
    font-weight: 400;
}

.awesome__title-wrapper, .price__title-wrapper, .customers__title-wrapper, .design__title-wrapper, .contacts__title-wrapper {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awesome__line, .price__line, .customers__line, .design__line, .contacts__line {
    width: 170px;
    border-top: 2px solid #EC7979;
    margin: auto;
    margin-bottom: 40px;
}

.awesome__subtitle {
    color: #86878B;
    font-size: 18px;
    text-align: center;
    margin-bottom: 110px;
}

.awesome__container {
    display: flex;
    justify-content: space-between;
}

.awesome__block {
    width: 30%;
    text-align: center;
}

.awesome__icon-wrapper {
    width: 92px;
    height: 92px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 78px;
}

.awesome__block-title {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 47px;
}

.price {
    width: 100%;
    padding: 50px 0;
    background-color: #F5F5F5;
    font-family: 'Raleway', sans-serif;
}

.price__subtitle {
    color: #86878B;
    font-size: 18px;
    text-align: center;
    margin-bottom: 79px;
}

.price__container {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.price__block, .customers__block {
    width: 370px;
}

.price__block:hover {
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
    margin-top: -20px;
}

.price__price-title {
    height: 60px;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F5F5F5;
    border-bottom: none;
}

.price__prices {
    height: 100px;
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F5F5F5;
    border-bottom: none;
}

.price__price-subtitle, .price__list {
    height: 50px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F5F5F5;
    border-bottom: none;
}

.price__price-subtitle {
    color: rgba(255, 255, 255, 0.5);
    background-color: #333333;
}
    
.price__list {
    color: #86878B;
    background-color: #FFFFFF;
}

.customers {
    width: 100%;
    margin: 50px 0 84px 0;
    font-family: 'Raleway', sans-serif;
}

.customers__subtitle {
    color: #86878B;
    font-size: 18px;
    text-align: center;
    margin-bottom: 83px;
}

.customers__container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.customers__review {
    font-size: 18px;
    background-color: #E2E2E2;
    color: #86878B;
    border-radius: 10px;
    line-height: 21px;
    text-align: center;
    padding: 38px;
}

.customers__triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
    margin-left: 70px;
    margin-bottom: 46px;
}

.customers__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customers__info-block {
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.customers__name {
    width: 269px;
    font-family: "Open sans";
    font-weight: bold;
    font-size: 24px;
}

.customers__position {
    font-size: 18px;
}

.design {
    width: 100%;
    height: 392px;
    margin: 0 auto;
    padding-top: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images\ banner/back.jpg) no-repeat;
    background-size: 100% 100%;
    font-family: 'Raleway';
}

.design__title {
    color: #FFFFFF;
}

.design__line {
    border-color: #FFFFFF;
}

.design__subtitle {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 73px;
}

.design__button {
    display: block;
    margin: 0 auto;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 600;
    width: 370px;
    height: 58px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
}

.contacts {
    width: 1170px;
    margin: 50px auto;
    font-family: 'Raleway';
}

.contacts__subtitle {
    color: #86878B;
    font-size: 18px;
    text-align: center;
    margin-bottom: 89px;
}

.contacts__form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.contacts__form-container {
    width: 570px;
    height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts__form-field {
    width: 100%;
    height: 46px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
}

.height {
    padding-top: 16px;
    height: 100%;
    resize: none;
}

.contacts__form-field::placeholder {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    color: #BDBDBD;
    margin-bottom: 16px;
}

.contacts__button {
    width: 370px;
    display: block;
    margin: 0 auto;
}

.footer {
    width: 100%;
    margin: 0 auto;
    padding: 40px 0 27px 0;
    background-color: #000000;
}

.footer__icon-container {
    width: 544px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.footer__text {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

@media only screen and (min-device-width: 765px) and (max-device-width: 1024px) {
    /* .header__menu-list {
        width: 19%;
    } */

    .header__menu {
        width: 100%;
    }

    .banner__container {
        box-sizing: border-box;
        width: 100%;
        padding-left: 115px;
    }

    .banner {
        height: 690px;
    }

    .banner__logo-image {
        transform: scale(0.8) translate(-12%);
    }

    .banner__title {
        width: 100%;
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 40px;
    }

    .banner__line {
        width: 115px;
        margin-bottom: 31px;
    }

    .banner__subtitle {
        font-size: 14px;
        width: 183px;
        margin-bottom: 31px;
    }

    .banner__button {
        width: 183px;
        height: 50px;
    }

    .banner__form {
        width: 398px;
        margin-right: 20px;
    }

    .banner__form-title {
        font-size: 18px;
    }

    .social__container {
        width: 96%;
    }

    .social__title {
        font-size: 18px;
        margin: 13px 0 26px 0;
    }

    .social__subtitle {
        width: 80%;
        font-size: 14px;
        margin-bottom: 13px;
    }

    .social__icon-container {
        width: 100%;
    }

    #social__icon {
        font-size: 50px;
    }

    .tabs {
        width: 96%;
    }

    .tabs__tabs-container {
        padding-top: 70px;
    }

    .tabs__tab-title {
        width: 156px;
    }

    /* .tabs__container {  ничего не меняет
        min-height: 385px;
    } */ 

    .tabs__block {
        padding-left: 84px;
    }

    .tabs__title {
        font-size: 24px;
        margin-top: 32px;
    }

    .tabs__text {
        font-size: 14px;
        margin-bottom: 38px;
        line-height: 16px;
    }

    .tabs__button {
        width: 230px;
        margin-bottom: 50px;
    }

    .tabs__img {
        height: 100%;
    }

    .awesome {
        width: 96%;
    }

    .awesome__title, .price__title, .customers__title, .design__title, .contacts__title {
        font-size: 24px;
    }

    .awesome__title-wrapper, .price__title-wrapper, .customers__title-wrapper, .design__title-wrapper, .contacts__title-wrapper {
        height: 120px;
    }

    .awesome__line, .price__line, .customers__line, .design__line, .contacts__line {
        width: 142px;
        margin-bottom: 32px;
    }

    .awesome__subtitle {
        font-size: 14px;
        margin-bottom: 65px;
    }

    .awesome__icon-wrapper {
        width: 79px;
        height: 79px;
        margin-bottom: 66px;
    }

    .awesome__icon {
        transform: scale(0.8);
    }

    .awesome__block-title {
        font-size: 18px;
        margin-bottom: 42px;
    }

    .awesome__block-text, .customers__position {
        font-size: 14px;
    }

    .price__subtitle {
        font-size: 14px;
        margin-bottom: 50px;
    }

    .price__container {
        width: 96%;
    }

    .price__block, .customers__block {
        width: 32%;
    }

    .price__price-title {
        height: 53px;
    }

    .price__prices {
        height: 88px;
    }

    .price__price-subtitle, .price__list {
        height: 44px;
    }

    .customers__subtitle, .design__subtitle {
        font-size: 14px;
        margin-bottom: 32px;
    }

    .customers__container {
        width: 96%;
        padding-bottom: 57px;
    }

    .customers__review {
        font-size: 14px;
        line-height: 16px;
        padding: 50px 20px;
    }

    .customers__triangle {
        margin-left: 63px;
    }

    .customers__photo {
        transform: scale(0.9);
    }

    .customers__info-block {
        width: 70%;
        height: 50px;
    }

    .customers__name {
        width: 100%;
        font-size: 18px;
    }

    .design {
        height: 358px;
    }

    .design__button, .contacts__button {
        width: 318px;
    }

    .contacts {
        width: 96%;
    }

    .contacts__subtitle {
        font-size: 14px;
        margin-bottom: 70px;
    }

    .contacts__form-container {
        width: 49%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 764px) {
    .header {
        height: 56px;
    }

    .header__logo {
        padding-left: 20px;
    }

    .header__menu {
        display: none;
    }

    .header__menu-list {
        display: none;
    }

    .banner {
        background-size: cover;
        text-align: center;
    }

    .banner__container {
        width: 92%;
        flex-direction: column;
    }

    .banner__block {
        width: 100%;
    }

    .banner__logo-image {
        display: none;
    }

    .banner__title {
        width: 100%;
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 43px;
    }

    .banner__line {
        width: 134px;
        border: 1px solid #FFFFFF;
        margin: auto;
        margin-bottom: 42px;
    }

    .banner__subtitle {
        width: 100%;
        font-size: 14px;
    }

    .banner__button {
        width: 288px;
        height: 50px;
        margin-bottom: 56px;
    }

    .banner__form {
        width: 288px;
        height: 380px;
        margin: auto;
    }

    .banner__title-wrapper {
        margin-bottom: 0;
    }

    .banner__form-title {
        font-size: 14px;
    }

    .banner__form-field {
        height: 35px;
    }

    .banner__form-field:last-child {
        margin-bottom: 50px;
    }

    .banner__form-button {
        margin-top: 18px;
    }

    .social__container {
        width: 100%;
        flex-direction: column;
    }

    .social__title {
        font-size: 18px;
        margin: 44px 0 26px 0;
        text-align: center;
    }

    .social__subtitle {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        margin-bottom: 34px;
    }

    .social__icon-container {
        width: 90%;
        padding: 0;
        padding-bottom: 45px;
    }

    #social__icon, #footer__icon {
        font-size: 25px;
    }

    .tabs {
        width: 90%;
        text-align: center;
    }

    .tabs__tabs-container {
        padding-top: 70px;
    }

    .tabs__tab-title {
        width: 100%;
    }

    .tabs__block {
        width: 100%;
        margin: auto;
        padding: 0;
    }

    .tabs__title {
        font-size: 18px;
        line-height: 24px;
        margin: 47px auto 74px auto;
    }

    .tabs__text {
        width: 90%;
        font-size: 13px;
        line-height: 15px;
        margin: auto;
        margin-bottom: 29px;
    }

    .tabs__button  {
        width: 242px;
        height: 50px;
        margin: auto;
        margin-bottom: 30px;
    }

    .tabs__img {
        display: none;
    }

    .awesome {
        width: 100%;
    }

    .awesome__title {
        font-size: 18px;
    }

    .awesome__title-wrapper, .price__title-wrapper, .customers__title-wrapper, .design__title-wrapper, .contacts__title-wrapper {
        height: 120px;
        padding: 0;
    }

    .awesome__line, .price__line, .customers__line, .contacts__line {
        width: 134px;
        border: 1px solid #EC7979;
        margin-bottom: 24px;
    }

    .awesome__subtitle {
        width: 90%;
        font-size: 13px;
        margin: auto;
        margin-bottom: 83px;
    }

    .awesome__container {
        flex-direction: column;
    }

    .awesome__block {
        width: 90%;
        margin: auto;
    }

    .awesome__block:not(:last-child) {
        margin-bottom: 43px;
    }

    .awesome__icon-wrapper {
        width: 79px;
        height: 79px;
        margin: 0 auto 66px;
    }

    .awesome__icon {
        transform: scale(0.8);
    }

    .awesome__block-title {
        font-size: 18px;
        margin-bottom: 42px;
    }

    .awesome__block-text {
        font-size: 14px;
    }

    .price__title, .customers__title, .design__title, .contacts__title {
        font-size: 24px;
        text-align: center;
    }

    .price__subtitle, .customers__subtitle {
        font-size: 14px;
        margin-bottom: 24px;
    }

    .price__container {
        width: 90%;
        flex-direction: column;
        padding: 0;
    }

    .price__block {
        width: 288px;
        margin: auto;
        margin-bottom: 27px;
    }

    .price__price-title {
        height: 47px;
        font-size: 18px;
    }

    .price__prices {
        height: 78px;
        font-size: 24px;
    }

    .price__price-subtitle, .price__list {
        height: 40px;
        font-size: 14px;
    }

    .customers__container {
        width: 90%;
        flex-direction: column;
        padding: 0;
    }

    .customers__block {
        width: 100%;
        margin-bottom: 40px;
    }

    .customers__review {
        font-size: 14px;
        line-height: 16px;
        padding: 50px 15px;
    }

    .customers__triangle {
        margin-left: 57px;
        margin-bottom: 42px;
    }

    .customers__info-block {
        width: 80%;
        height: 45px;
    }

    .customers__name {
        width: 100%;
        font-size: 14px;
    }

    .customers__position {
        font-size: 13px;
    }

    .customers__photo {
        transform: scale(0.8);
    }

    .design {
        height: 358px;
        background: none;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images\ banner/design.png) no-repeat;
        background-size: 100% 100%;
    }

    .design__line {
        width: 134px;
        border: 1px solid #FFFFFF;
        margin-bottom: 16px;
    }

    .design__subtitle {
        width: 90%;
        margin: auto;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 66px;
    }

    .design__button, .contacts__button {
        width: 288px;
        height: 50px;
    }

    .contacts {
        width: 100%;
    }

    .contacts__subtitle {
        font-size: 14px;
        margin-bottom: 64px;
    }

    .contacts__form {
        flex-direction: column;
        margin-bottom: 16px;
    }

    .contacts__form-container {
        width: 90%;
        margin: auto;
        margin-bottom: 34px;
    }

    .footer {
        padding-bottom: 45px;
    }

    .footer__icon-container {
        width: 90%;
        margin-bottom: 44px;
    }

    .footer__text {
        font-size: 14px;
    }
}